html {
	background-color: #fff;
}

body {
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
}

.jumbotron {
	text-align: center;
	color: #fff;
	background-color: #F96D00;
	font-family: 'Anton', sans-serif;
	margin-bottom: 10px;
}

#main {
	height: 400px;
	color: white;
	background-color: #393E46;
	padding-left: 50px;
}

#main-panel {
	padding-left: 50px;
}

#start-game {
	background-color: #393E46;
	border-color: #fff;	
	font-family: 'Inconsolata', monospace;
	margin-bottom: 10px;
}

#answer0, #answer1, #answer2, #answer3 {
	cursor: pointer;
}

.countdown {
	font-family: 'Inconsolata', monospace;
}