html {
	background-image: url(../images/space_stars.jpg);
}

body {
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
	color: #2c2c36;
}

.jumbotron {
	text-align: right;
	height: 150px;
	background-color: transparent;
	font-family: 'Anton', sans-serif;
	margin-bottom: 30px;
	opacity: 0.8;
	background-image: url(../images/space_stars_crop.jpg);
}

div.jumbotron {
	padding-top: 20px;
}

h1 {
	color: white;
	background: url(../images/space_stars_darkish.jpg) no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.jumbotron h1 {
	font-size: 100px;
	margin-top: 0px;
}

#main {
	height: 450px;
	color: #fceeb1;
	background-color: transparent;
	background-image: url(../images/space_stars_crop.jpg);
	padding-left: 50px;
	opacity: 0.8;
	border: 0px solid #fff;
}

#start-game, #start-over {
	color: #2c2c36;
	font-family: 'Anton', sans-serif;
	opacity: 0.6;
	background-image: url(../images/space_stars_btn2.jpg);
	margin-bottom: 20px;	
}

.btn-primary {
	border: 0px solid #2c2c36;
	font-size: 20px;
}

.btn-primary:hover {
	border: 1px solid #df4824;
}

#answer0, #answer1, #answer2, #answer3 {
	cursor: pointer;
	max-width: 33%;
}

#answer0:active, #answer1:active, #answer2:active, #answer3:active {
	transform: translate(2px, 2px);
}

.answer {
	padding-left: 30px;
}

.answer:hover {
	color: #df4824;
}

.countdown {
	font-family: 'Oswald', sans-serif;
	color: #fceeb1;
	opacity: 0.8;
	padding-left: 20px;
	text-align: center;
}

#results {
	color: #df4824;
	text-align: right;
	padding-right: 30px;
}

#imgif {
	max-width: 100%;
	width: 100%;
	opacity: 0.8;
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 45px;
		padding-top: 30px;
	}
 }

 @media (max-width: 604px) {
	#main {
		height: 500px;
	}
	#answer0, #answer1, #answer2, #answer3 {
		max-width: 50%;
	}
 }